<%# dont leave this blank yet  %>

<%# we can totally hardcode %>

<h1>this _should_ be my form</h1>

<%# action is the route this form data is going to %>
<%# method is the tyoe of request being made %>
<form action="/artists" method="post">
<label>Artist Name</label>
<br/>
<input type="text" name="artist_name">
<br/>
<label>Artist Age</label>
<br/>
<input type="number" name="artist_age">
<br/>
<input type="submit">
</form>