<h1>This is show page</h1>
<h1> Artist Name: <%= @artist.name %>  </h1>
<h2> Age: <%= @artist.age %>  </h2>


<%# can I delete form here?? %>

<form action="/artists/<%=@artist.id%>" method='post'>
<input type="hidden" name="_method" value ='delete'>
<input type="submit" value="delete me! :(">
</form>